body{
 background-color:rgb(231, 249, 255)
}

.calculator{
  background-color:gray;
  width: 30%;
  height: 400px;
  border:1px solid Black;
  display:flex;
  flex-direction:column
}

.screen{
  width:90%;
  height:50px;
  text-align:center;
  align-items:center;
  background-color:white;
}

.top-row{
  display:flex;
  justify-content: space-around;
}

.second-row{
  display:flex;
  justify-content: space-around;
}

.third-row{
  display:flex;
  justify-content: space-around;
}

.fourth-row{
  display:flex;
  justify-content: space-around;
}

.fifth-row{
  display:flex;
  justify-content: space-around;

}
