body{
  background-color:rgb(231, 249, 255);
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.calculator{
  background-color:gray;
  border:1px solid Black;
}


.screen{
  width:90%;
  height:50px;
  text-align:center;
  align-items:center;
  background-color:white;
}

.top-row{
  display:flex;
  justify-content: space-around;
}

.second-row{
  display:flex;
  justify-content: space-around;
}

.third-row{
  display:flex;
  justify-content: space-around;
}

.fourth-row{
  display:flex;
  justify-content: space-around;
}

.fifth-row{
  display:flex;
  justify-content: space-around;

}
